@charset "utf-8";
/*==========================
common
==========================*/
html {
    font-size: 62.5%;
}
img {
    max-width: 100%;
}
body {
    font-family:
        "Zen Kaku Gothic New",
        Arial,
        sans-serif;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    color: #05343B;
    line-height: 1.6; /* 2.56rem */
    letter-spacing: 0.08rem;
}

/*==========================
header
==========================*/
.header {
    display: flex;
    padding: 15px 20px 5px 20px;
    justify-content: space-between;
    align-items: center;
    background-color: #DDF2C380;
    border-radius: 0px 0px 20px 20px;

    position: fixed;
    width: 100vw;
    top:0;
    z-index: 100;
    
}
.header__logo{
    width: 99.6px;
    height: 60px;
}
.header__logo:hover{
    transform: scale(1.1);
}
.header__btn:hover{
    transform: scale(1.1);
}
/* navMenu初期設定 */
.header__navMenu {
    display: flex;
    flex-direction: column;
    width: 72%; 
    max-width: 400px;
    border-radius: 15px 0px 0px 15px;
    background-color: #DDF2C3;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    transform: translateX(200%);
    transition: 0.4s;

    justify-content: center;
    align-items: center;
}
/* nevMenu.active表示 */
.header__navMenu.active{
    transform: translateX(0);
}
/* header__navMenu */
.index__btn {
    display: block;
    position: inherit;

    top: 35px;
    right: 20px;
}
.index__btn:hover{
    transform: scale(1.1);
}
.index__list {
    display: flex;
    padding: 80px 20px 20px 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    font-family: "Noto Sans", sans-serif;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    list-style: none;
}
.index__item {
    position: relative;
}
.index__item::before{
    background-color: #05343B;
    content: '';
    width: 140%;
    height: 2px;
    position: absolute;
    left: -20%;
    bottom: 0;
    margin: auto;
    transform-origin: center top;
    transform: scale(0,1);
    transition: 0.3s;
}
.index__item:hover::before {
    transform-origin: center top;
    transform: scale(1,1);
}
.indexOrder__list{
    display: flex;
    margin-top: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-shrink: 0;
}
.indexOrder__btn{
    font-family: "Noto Sans",sans-serif;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    letter-spacing: 0;

    display: flex;
    flex-direction: column;
    width: 179px;
    height: 120px;
    background: #FFF;
    border-radius: 15px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    position: relative;
}
.indexOrder__btn:hover{
    transform: translateY(4px);
    box-shadow: none;
}
.indexOrder__btn .main{
    padding-top: 58px;
    position: relative;
}
.main span{
    display: none;
}
.indexOrder__btn .sub { 
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.6; /* 22.4px */
    letter-spacing: 0.07rem;
}
.indexOrder__item .pickUp::after{
    display: block;
    content: '';
    height: 48px;
    width: 48px;
    background-image: url(../images/icon/pickup_icon48.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position:absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
}
.indexOrder__item .pickUp:hover::after{
    transform-origin: center;
    transform: translateX(-50%) scale(1.1);
}
.indexOrder__item .onlineShop::after{
    display: block;
    content: '';
    height: 48px;
    width: 48px;
    background-image: url(../images/icon/onlineshop_icon48.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position:absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
}
.indexOrder__item .onlineShop:hover::after{
    transform-origin: center;
    transform: translateX(-50%) scale(1.1) ;
}
.indexSns__list{
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: 33px;
    margin-bottom: 24px;
    align-items: center;
    justify-content: center;
}
.indexSns__item:hover{
    transform: scale(1.1);
}

/* .header TB */
@media screen and (min-width:769px) and (max-width:1024px){
    .header {
        height: 125px;
        margin: 0 auto;
        padding: 20px 6vw;
        align-items: center;
    }
    .header__logo{
        width: 150px;
        height: 90px;
    }
    .header__btn{
        display: none;
    }
    /* nevMenu */
    .header__navMenu {
        display: flex;
        flex-direction: row;
        transform: translateX(0);
        position: relative;
        justify-content: flex-end;

        width: 100%;
        max-width: 100%;
        border-radius: 0;
        background: none;
        transform: translateY(20px);
    }
    .index__btn{
        display: none;
    }
    .index{
    display: flex;
    flex-direction: row;
    }
    .index__list{
        display: flex;
        flex-direction: row;
        font-family: "Playwrite AU VIC";
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        letter-spacing: 0.09rem;
        padding: 0 3vw 0 0;
        gap: 3vw;
    }
    .index__item.home{
        display: none;
    }
    .indexOrder__list{
        display: flex;
        margin-top: 0;
        flex-direction: row;
        justify-content: space-around;
        gap: 4vw;
        align-items: baseline;
    }
    .indexOrder__btn{
        font-family: "Playwrite AU VIC";
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        text-align: center;
        letter-spacing: 0.09rem;
    
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        background: none;
        border-radius: 0;
        box-shadow: none;
        position: relative;

        padding-left: 0;
    }
    .indexOrder__btn:hover{
        transform: none;
        box-shadow: none;
    }
    .indexOrder__btn .main{
        display: flex;
        font-size: 1.4rem;
        padding-top: 0;
        position: relative;
    }
    .main span{
        display: block;
    }
    .indexOrder__btn .sub {   
        font-family: "Zen Kaku Gothic New", sans-serif;
        font-size: 1.0rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.6; /* 22.4px */
        letter-spacing: 0.07rem;
    }
    .indexOrder__btn::before{
        content: '';
        border: solid 2px #05343B;
        /* background-color: #FFF; */
        width: calc(100% + 6px);
        height: 100%;
        position: absolute;
        left: -3px;
        bottom: 0;
        transform: scale(0,1);
        transition: 0.3s;
    }
    .indexOrder__btn:hover::before{
        transform: scale(1,1);
    }
    .indexOrder__item .pickUp::after{
        display: none;
        flex-direction: row;
        content: '';
        height: 48px;
        width: 48px;
        background-image: url(../images/icon/pickup_icon48.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        position:absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
    }
    .indexOrder__item .onlineShop::after{
        display: none;
        flex-direction: row;
        content: '';
        height: 48px;
        width: 48px;
        background-image: url(../images/icon/onlineshop_icon48.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        position:absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
    }
    .indexOrder__btn.pickUp:hover::after{
        transform-origin: center;
        transform: translateY(-50%);
    }
    .indexOrder__btn.onlineShop:hover::after{
        transform-origin: center;
        transform: translateY(-50%);
    }
    .indexSns__list{
        display: none;
    }
}/* TB 769px - 1024px の画面サイズで適用されるスタイル */

/* .header PC */
@media screen and (min-width: 1025px) {
        .header {
        height: 125px;
        margin: 0 auto;
        padding: 20px 6vw;
        align-items: center;
    }
    .header__logo{
        width: 150px;
        height: 90px;
    }
    .header__btn{
        display: none;
    }

    /* nevMenu */
    .header__navMenu {
        display: flex;
        flex-direction: row;
        transform: translateX(0);
        position: relative;
        justify-content: flex-end;

        width: 100%;
        max-width: 100%;
        border-radius: 0;
        background: none;
        transform: translateY(20px);
    }
    .index__btn{
        display: none;
    }
    .index{
    display: flex;
    flex-direction: row;
    }
    .index__list{
        display: flex;
        flex-direction: row;
        font-family: "Playwrite AU VIC";
        font-size: 1.8rem;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        letter-spacing: 0.09rem;
        padding: 0 3vw 0 0;
        gap: 3vw;
    }
    .index__item.home{
        display: none;
    }
    .indexOrder__list{
        display: flex;
        margin-top: 0;
        flex-direction: row;
        justify-content: space-around;
        gap: 4vw;
        align-items: baseline;
    }
    .indexOrder__btn{
        font-family: "Playwrite AU VIC";
        font-size: 1.8rem;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        text-align: center;
        letter-spacing: 0.09rem;
    
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        background: none;
        border-radius: 0;
        box-shadow: none;
        position: relative;

        padding-left: 63px;
    }
    .indexOrder__btn:hover{
        transform: none;
        box-shadow: none;
    }
    .indexOrder__btn .main{
        display: none;
        padding-top: 0;
        position: relative;
    }
    .indexOrder__btn .sub {   
        font-family: "Zen Kaku Gothic New", sans-serif;
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.6; /* 22.4px */
        letter-spacing: 0.07rem;
    }
    .indexOrder__btn::before{
        content: '';
        border: solid 2px #05343B;
        /* background-color: #FFF; */
        width: calc(100% + 6px);
        height: 100%;
        position: absolute;
        left: 2px;
        bottom: 0;
        transform: scale(0,1);
        transition: 0.3s;
    }
    .indexOrder__btn:hover::before{
        transform: scale(1,1);
    }
    .indexOrder__btn.pickUp::after{
        display: flex;
        flex-direction: row;
        content: '';
        height: 48px;
        width: 48px;
        background-image: url(../images/icon/pickup_icon48.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        position:absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
    }
    .indexOrder__btn.onlineShop::after{
        display: flex;
        flex-direction: row;
        content: '';
        height: 48px;
        width: 48px;
        background-image: url(../images/icon/onlineshop_icon48.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        position:absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
    }
    .indexOrder__btn.pickUp:hover::after{
        transform-origin: center;
        transform: translateY(-50%);
    }
    .indexOrder__btn.onlineShop:hover::after{
        transform-origin: center;
        transform: translateY(-50%);
    }
    .indexOrder__btn .main{
        display: flex;
        padding-top: 0;
        position: relative;
    }
    .main span{
        display: block;
    }
    .indexOrder__btn .sub {   
        display: flex;
        font-family: "Playwrite AU VIC";
        font-size: 1.2rem;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        letter-spacing: 0.06rem;
        transform: translateY(-5px);
        margin: auto;
    }
    .indexSns__list{
        display: none;
    }

}/* PC 1025px 以上の画面サイズで適用されるスタイル */

/*==========================
main
==========================*/
/* article */
/* header */
.article{
    overflow: hidden;
}
.mainVisual{
    padding-top: 80px;
    height: 143vw;
    background-color: #DDF2C3;
    position: relative;
}
.shopTitle{
    /* display: none; */
    position: absolute;
    padding: 88.5vw 6.1% 0 40.5%;
    width: 100%;
    right: 50%;
    transform: translateX(50%);
}
.keyVisual{
    position: absolute;
    transform: translate(-3vw);
    left: 0;
    min-width: 100%;
    top: 60px;
}
.keyVisual_frame{
    display: none;
}
.catchCopy{
    position: absolute;
    padding: 2vw 15% 0 15%;
    width: 100%;
    right: 50%;
    transform: translateX(50%);
}
.shopTitle img{
    min-width: 100%;
}
.catchCopy img{
    min-width: 100%;
}
/* メインビジュアル内のボタン */
.mainOrder{
    display: flex;
    flex-direction: column;
    gap: 20px; /* 5.3vw; 20px */
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    /* padding-top: 127vw; */
    /* background-color: #DDF2C3; */
    position: relative;
}
.mainOrder::after{
    content: '';
    position: absolute;
    top: calc( -485px + 190px );
    width: 970px;
    height: 485px; /* 170px; */ 
    background-color: #DDF2C3;
    
    border-bottom-left-radius: 50% 50%; /* width height */
    border-bottom-right-radius: 50% 50%;
    z-index: -100;

}
.mainOrder__btn{
    font-family: "Noto Sans",sans-serif;
    font-size: 2.0rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    letter-spacing: 0;

    display: flex;
    flex-direction: column;
    width: 300px;
    height: 58px;
    background: #FFF;
    border-radius: 50px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    position: relative;
}
.mainOrder__btn::before{
    display: block;
    content: '';
    height: 2.3rem;
    width: 1.3rem;
    background-image: url(../images/icon/arrow.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 50%;
    right: 2.18rem;
    transform: translateY(-50%);
}
.mainOrder__btn:hover{
    transform: translateY(4px);
    box-shadow: none;
}
.mainOrder__btn .main {
    padding-top: 5px;
}
.mainOrder__btn .sub {
    font-size: 1.4rem;    
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.6; /* 22.4px */
    letter-spacing: 0.065rem;
}
.pickUp::after{
    display: block;
    content: '';
    height: 48px;
    width: 48px;
    background-image: url(../images/icon/pickup_icon48.svg);
    background-size: contain;
    background-repeat: no-repeat;
    position:absolute;
    top: 50%;
    left: 25px;
    transform: translateY(-50%);
}
.onlineShop::after{
    display: block;
    content: '';
    height: 48px;
    width: 48px;
    background-image: url(../images/icon/onlineshop_icon48.svg);
    background-size: contain;
    background-repeat: no-repeat;
    position:absolute;
    top: 50%;
    left: 25px;
    transform: translateY(-50%);
}

/* article header PC */
@media screen and (min-width:769px){
    .article__header{
        position: relative;
    }
    .mainVisual{
        padding-top: 125px; 
        height: 60vw; /* 858px */
        min-height: 640px;
        background-color: #DDF2C3;
        position: relative;
    }
    .shopTitle{
        /* display: none; */
        position: absolute;
        padding: 15vw 0 0 0;
        width: 29%;
        right: 30%;
        transform: translateX(50%);
    }
    .keyVisual{
        position: absolute;
        transform: translate(-1vw);
        padding: 2.4vw 50vw 0 13vw;
        width: 100%;
        left: 0;
        min-width: 100%;
        top: 125px;
    }
    .keyVisual_frame{
        display: none;
    }
    .catchCopy{
        position: absolute;
        padding: 4.17vw 55% 0 17.5%;
        width: 100%;
        right: 50%;
        transform: translateX(50%);
    }
    .shopTitle img{
        min-width: 100%;
    }
    .catchCopy img{
        min-width: 100%;
    }
    /* メインビジュアル内のボタン */
    .mainOrder{
        display: flex;
        flex-direction: column;
        gap: 20px; /* 5.3vw; 20px */
        justify-content: center;
        align-items: center;
        padding-top: 40px;

        position: absolute;
        right: 30%;
        transform: translateX(50%);
        left: 59vw;
        top: 43vw;

    }
    .mainOrder::after{
        content: '';
        display: none;
    }   
}/* PC 769px 以上の画面サイズで適用されるスタイル */


/* section */
/* section common */
.section{
    display: flex;
    flex-direction: column;
    padding: 80px 5.9vw; /* 5.9vw/22px */
    align-items: center;
}
.section__title {
    font-family: "Playwrite AU VIC", cursive;
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: normal; /* figuma 0.16rem */

    text-align: center;
}
.section__subTitle {
    font-family: "Playwrite AU VIC", cursive;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: normal; /* figuma 0.09em */

    text-align: center;
}
.btn {    
    font-family: "Noto Sans",sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;

    display: block;
    width: 25rem;
    height: 5.8rem;
    padding-top: 1.9rem;
    padding-bottom: 1.9rem;
    background: #FFF;
    border-radius: 5rem;
    border:  1px solid rgba(198, 209, 210, 0.30);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    position: relative;
}
.btn::after {
    display: block;
    content: '';
    height: 2.3rem;
    width: 1.3rem;
    background-image: url(../images/icon/arrow.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 50%;
    right: 2.1rem;
    transform: translateY(-50%);
}
.btn:hover{
    transform: translateY(4px);
    box-shadow: none;
}

/* section About */
.section--about .section__title{
    margin-bottom: 40px;
}
.section--about .section__subTitle{
    margin-bottom: 20px;
}
.section--about .btn{
    margin-top: 40px;
}
.section--about p{
    text-indent: 1.6rem;
    margin-bottom: 0.6rem;
}

/* section Flavor */
.section--flavor{
    width: 250vw;
    background-color: #DDF2C3;
    border-radius: 50% 50%;
    transform: translateX(-75vw); /* (width-100vw/2) */
}
.flavor_contents{
    /* transform: translateX(75vw); */
    display: flex;
    flex-direction: column;
    margin: auto;
}
.section--flavor .section__title{
    margin-bottom: 40px;
}
.section--flavor .section__subTitle{
    margin-bottom: 20px;
}
.flavor_card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 3.5vw;
    width: 77.8vw;

    border-radius: 15px;
    background: #FFF;
    box-shadow: 0px 3px 3px 0px rgba(53, 75, 78, 0.60);

    max-width: 500px;
}
.flavor_tag{
    display: block;
    width: 80px;
    height: 20px;

    font-family: "Noto Sans";
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.065rem;

    background-color: #DDF2C3;
    text-align: center;
    border-radius: 3px;

    margin-bottom: 20px;

}
.flavor_name{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flavor_name_jp{
    font-size: 1.2rem;
    position: relative;
    top: -5px;
}
.flavor_img{
    display: flex;
    flex-direction: column;
    position: relative;
    box-sizing: content-box;
    width: 188px;
    height: 220px;
    padding-left: 8px;
}
.flavor_ice{
    width: 188px;
    height: 158px;
}
.flavor_cup{
    width: 180px;
    height: 105px;
    position: absolute;
    top: 112px;
    left: 8px;

}
.flavor_desc{
    display: flex;
    text-align: center;
    margin-top: 20px;
}
.slider{
    margin-top: 20px;
    display: flex;
    gap: 11px;
    align-items: center;
    justify-content: center;
}
.section--flavor .btn{
    /* margin-top: 40px; */
    margin: 40px auto 0px;
}

/* section Menu */
.section--menu .section__title{
    margin-bottom: 40px;
}
.section--menu .section__subTitle{
    margin-bottom: 20px;
}
.menu_card .section__subTitle{
    margin-bottom: 0;
    font-size: 1.6rem;
    letter-spacing: -0.08rem;
}
.menu_jp{
    text-align: center;
    font-size: 1.2rem;
}
.menu_card{
    width: 88vw;
    min-width: 315px;
    border-radius: 15px;
    border: 1px solid rgba(198, 209, 210, 0.30);
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    padding-bottom: 30px;
    margin-bottom: 20px;
}
.menu_title{
    display: block;
    border-radius: 15px 15px 0px 0px;
    background: #D9FAFF; 
    padding: 0;
}
.columns{
    display: flex;
    justify-content: space-around;
    padding: 0 2.5vw;
    margin-top: 10px;
    margin-bottom: 10px;
}
.column{
    display: flex;
    flex-direction: column;
}
.menu_jp{
    font-size: 1.2rem;
    letter-spacing: 0.06rem;
}
.cup img{
    width: 98.62px;
    height: 100px;
    box-sizing: content-box;
    padding-top: 10px;
}
.cone img{
    width: 82px;
    height: 120px;
}
.cookie img{
    width: 96px;
    height: 92px;
    box-sizing: content-box;
    padding-top: 15px;
}
.steps{
    display: block;
    width: 74vw;
    padding: 0 0 0 13px;
    margin: auto;
    /* border-left: thin solid; */
    position: relative;
}
.steps::before{
    content: '';
    display:block;
    background-color: #05343B;
    width:1px;
    height:calc(100% - 26px);
    position: absolute;
    left: 0%;
    transform: translateX(-50%);
    top: calc(26px/2);
}
.step img{
    margin-right: 0.8rem;
}
.step15{
    position: relative;
    left: 3.5rem;
}
.step_tag::before{
    content: '';
    height: 10px;
    width: 10px;
    background-image: url(../images/icon/dot.svg);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -18px;
}
.step15::after{
    content: "";
    width: 3.5rem;
    border: dashed 1px #05343B;
    position: absolute;
    left: -49px;
    top: 50%;
    transform: translateY(-50%);
}
.step_tag{
    font-family: "Noto Sans";
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.065rem;
    background-color: #DDF2C3;  

    padding: 0.4rem 0;
    width: 7rem;
    text-align: center;
    border-radius: 3px;
    position: relative;
}
.step_title{
    display: flex;
    row-gap: 8px;
}
.step_last{
    font-family: "Playwrite AU VIC", Arial, Helvetica, sans-serif;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0.09rem;
    background-color: #FFF;

    width: 10rem;
    height: 3.5rem;
}
.step_desc{
    text-align: right;
    margin-top: 5px;
    margin-bottom: 10px;
}
.toGo_single img{
    display: flex;
    width: 90px;
    height: 75.842px;
    justify-content: center;
}
.toGo_paint img{
    display: flex;
    width: 90px;
    height: 98.014px;
    justify-content: center;
    align-items: center;
}
.menu_cup{
    display: flex;
    width: 70vw;
    margin: auto;
}
.cup_en{
    display: flex;
    flex-direction: column;
    margin: auto;
}
.cup_jp{
    font-family: "Zen Kaku Gothic New";
    font-size: 1.2rem;
    font-weight: 400;
    position: relative;
    top: -5px;
    letter-spacing: 0.06rem;
    line-height: 1.6;
}
.toGo_single{
    margin-top: 20px;
    margin-bottom: 5px;
}
.menu_card_ToGo{
    padding-bottom: 10px;
}

/* section order__online */
.section--order_online{
    width: 120vw;
    background-color: #DDF2C3;
    border-radius: 50% 50%;
    transform: translateX(-10vw); /* (width-100vw/2) */
}
.section--order_online .section__title{
    margin-bottom: 40px;
}
.section--order_online .mainOrder__btn{
    margin: 0 auto 20px;
}
.section--order_online .pickUp_desc{
    text-align: center;
    width: 77vw;
}
/* section　Access */
.section--access .section__title{
    margin-bottom: 40px;
}
.access_desc{
    display: flex;
    margin-bottom: 20px;
}
.access_desc p{
    margin-left: 8px;
}
.info__title {
    font-family: "Noto Sans", sans-serif;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    line-height: 1.6;
    letter-spacing: 0.08rem;
}
.address{
    margin: 0 auto 20px;
}
.section--access .btn{
    margin-top: 30px;
}

/* section　online-shop */
.section--online_shop{
    width: 140vw;
    background-color: #DDF2C3;
    border-radius: 50% 50%;
    transform: translateX(-20vw); /* (width-100vw/2) */

    margin-bottom: 55px;
}
.section--online_shop .section__title{
    margin-bottom: 40px;
}
.online_shop_desc{
    text-align: center;
    width: 77vw;
}
.section--online_shop .mainOrder__btn{
    margin: 20px 0;
}


/*==========================
footer
==========================*/
.footer{
    background-color: #DDF2C3;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    border-radius: 15px 15px 0 0;
    padding: 20px 0;
}
.footer__logo {
    width: 166px;
    height: 100px;
    margin-top: 20px;
}
.footer__title{
    margin-bottom: 6px;
    font-size: 1.8rem;
}
.footer__info{
    display: flex;
    flex-direction: column;
    margin-top: 43px;

}
.footer__info .info{
    margin-bottom: 20px;
}
.footer__item{
    font-family: "Noto Sans JP";
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2; /* 19.2px */
    letter-spacing: 0.08rem;
}
.sns {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin: 14px 0 34px;
}
.copy{
    font-family: "Noto Sans";
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.copy .shop_name{
    font-family: "Playwrite AU VIC";
    font-size: 1.6rem;
}

